body {
	padding: 20px 20px 0px 20px;
}

#title {
	float:left;
	color:steelblue;
}
#mainmenu {
	top:20px;
	float:right;
}

#mainview {
	position:relative;
	top:20px;
	width:inherit;
}

#visualization {
	position:relative;
	float:left;
}

#leftpanel {
	float:right;
}

#query-input{
	
}

#tabtable {
	width:300px;
	float:right;
	margin-top: 20px;
}

svg {
	border-style:solid;
	border-width:5px;
	border-color:steelblue;
	border-radius:10px;
}

#big {
	margin-left: 5px;
}

#window{
	stroke-width:1;
	stroke:steelblue;
	fill-opacity:0.0;
}



.node {
	fill: #CD3333;
	stroke: steelblue;
}

.selectedNode {
	fill:steelblue;
	fill-opacity:1.0;
}

#mini .node {
	stroke-width: 0.5px;
}

#big .node {
	stroke-width: 2px;
}

#mini path, #big path {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}











